{:schema "kotoba.capability.repository.v1"
 :capability/version 1
 :capability/hash-contract-cid "bafkreiflhj3fslsbh7okdas2fzlhmogai64x6p3lkla6gtr7berbp7ftvi"
 :capability/definition-cid "bafyreidauidawvzfmrbe2wi2dn62flk2sejjpfp6omszbvhwjqfeslk7ai"
 :capability/dependencies #{}
 :capability/imports #{:random-bytes}
 :authority "kotoba-lang/kotoba-core-contracts"
 :capability/default-policy :autonomous
 :capability/artifact
 {:format :wasm-component
  :digest-required? true
  :signature-required? true
  :path "artifacts/provider.core.wasm"
  :sha256 "59535aedb5f325d33fa0e86da8a6368d440fffb447f14a48a876ee7f565cbd8e"
  :signature :reference-unsigned
  :exports {"random_bytes" {:params [:i32 :i32], :result :i32}}
  :host-abi {:module "kotoba", :field "random_bytes"}}
 :capability/radicle-rid "rad:zN54zqoakxpYM5E91ubN137A1UPP"
 :capability/repository "kotoba-lang/capability-random-bytes"
 :capability/id "random/bytes"
 :capability/effects #{:randomness}
 :capability/provider-status :reference-implemented}
